* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	background-color: rgb(239, 239, 239);
	font-family: 'Lato';
}

.post-title {
	font-family: 'Intro';
}

header {
	background: rgba(45, 94, 150, 0.3);
	width: 100%;
}

section:not(#root),
header {
	padding: 20px;
}

.post {
	margin: 20px 0;
	border-bottom: 1px solid rgb(200, 200, 200);
}

a {
	text-decoration: none;
	outline: none;
	color: #000;
	transition: all 100ms ease-in-out 0s;
}
a:hover {
	color: #2B6B9B;
}
